<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= yield(:title) %></title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body class="litten-bgr">
		<div class="container container-content">
			<div class="litten-box">
				<div class="litten-box-header">
					<img src="<%= asset_path("header.gif") %>">
					<div class="litten-box-title"><%= yield(:title) %></div>
				</div>
				<div class="litten-box-content">
						<%= yield %>
				</div>
			</div>
		</div>
	</body>
</html>